#mostrarOcultar{
    display: none;
}

#formClap{
  display: none;
}

#requisitos span{
  color: red;
}

#btnGoogleLogin:hover{
  background-color: #2196F3;
  transition: .7s;
}

#btnGoogleRegister:hover{
  background-color: #2196F3;
  transition: .7s;
}

.icon-filter{
  width: 20px;  
}


.line-separator {
  background-color: #ccc;
  flex-grow: 5;
  height: 1px
}

.or-container {
  align-items: center;
  color: #ccc;
  display: flex;
  margin: 25px 0
}

.or-label {
  flex-grow: 1;
  margin: 0 15px;
  text-align: center
}

.circle{
  border-radius: 50%;
  width: 50%;
}

#map { 
  height: 500px; 
  z-index: 0;
}

#imagenes{
  width: 18rem;
  padding: 1rem;
}



.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* The side navigation menu */

p.clasificacion {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

p.clasificacion input {
  position: absolute;
  top: -100px;
}

p.clasificacion label {
  float: right;
  color: #333;
}

p.clasificacion label:hover,
p.clasificacion label:hover ~ label,
p.clasificacion input:checked ~ label {
  color: #dd4;
}

p.comentario {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

p.comentario input {
  position: absolute;
  top: -100px;
}

p.comentario label {
  float: right;
  color: #333;
}

p.comentario input:checked ~ label {
  color: #dd4;
}

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav .boton a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

.container {
    max-width: 960px;
}
  
/*
* Custom translucent site header
*/

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
  * Dummy devices (replace them with your own or something else entirely!)
  */
.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  overflow: hidden;
  transform: rotate(30deg);
}

.product-device img{
  position: absolute;
  top: 5%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  width: 93%;
  border-radius: 5px;
}

.product-device-2 img{
  position: absolute;
  right: 10px;  
  left: 10px;
  top: -10%;
  width: 93%;
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  overflow: hidden;
  background-color: #b6b6b6;
}

.product-device-3{
  width: 80%; 
  height: 400px; 
  overflow: hidden;
  border-radius: 21px 21px 0 0;
}

.product-device-3 img {
  position: relative;
  top: 10%;
  width: 90%;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}



/*
  * Extra utilities
  */

.flex-equal > * {
  flex: 1;
}

@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

@media (max-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
  .tablon {
    overflow:scroll;
  }
}

@media (max-width: 990px) {
  .product-device{
    visibility: hidden;
  }
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .tablon {
    overflow:scroll;
  }
}